<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle || 'Homepage' %></title>
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

  <%- include('./partials/header') %>

  <section class="about">
    <h1><span>Fresh, Tasty,</span> and Always <br> Quality-Assured!</h1>

    <div class="vision-mission">
      <div class="vision">
        <h2>Our Vision</h2>
        <p>To be a leading innovator, delivering exceptional value and sustainable solutions that inspire trust and improve lives globally.</p>
      </div>
      <div class="mission">
        <h2>Our Mission</h2>
        <p>To provide high-quality products and services through innovation, integrity, and customer focus, while fostering a culture of excellence and continuous improvement.</p>
      </div>
    </div>

  </section>

  <script src="/js/homepage.js"></script>
</body>
</html>
